<link rel="stylesheet" href="/css/bootstrap.min.css">
<div class="contain d-flex flex-column text-center
justify-content-center align-items-center">
    <h2>Cambia el Color haciendo del spinner haciendo click en los botones!</h2>
    <strong><p>Tecnologías: NodeJS/Express Framework and Handlebars &#128151</p></strong>
    <div class="m-5">
        {{> Botones }}
    </div>
    <div>
        {{> Spinner}}
    </div>
</div>

<style>
    * {
        margin: 0;
    }

    .contain {
        background: #ece9e9;
        height: 100vh;
    }
</style>